*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto' sans-serif;
}

header h1, header img{
    vertical-align: middle;
}
h1{
    display:inline-block
}
main{
    background-color: silver;
}
ul, ol {
    padding-left: 18px;
    list-style: none;
}

/* 
    GENERAL
*/
body {
    background-color: lightgrey;
}

.container {
    width: 75%;
    margin: 0 auto;
}


header {
    background-color: white;
    padding: 5px 10px;
    margin-bottom: 30px;
}

header h1, header img {
    vertical-align: middle;
}

h1 {
    display: inline-block;
}
#list-container {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

.check {
    border-radius: 50%;
    border: 1px solid grey;
    color: grey;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}
.done {
    border-color: green;
    color: green;
}

.not-done {
    border-color: red;
    color: red;
}
#casella1{
    display: inline-block;
    background-color: lightseagreen;
    padding: 5px;
    color: white;
    border-radius: 10%;
    margin-left: 20px;
}
#casella2{
    display: inline-block;
    background-color:whitesmoke;
    padding: 5px;
    color: silver;
    border-radius: 10%;
    margin-left: 5px;
    border-color: silver;
}
#casella3 {
    display: inline-block;
    background-color:lightseagreen;
    padding: 3px;
    color: white;
    border-radius: 25%;
    margin-left: 20px;
}





    


